  
/*  ------------------------------------------
                 Blurple Colour
                    Config
                     v1.0
    ------------------------------------------  */

    /* Source Import */
@import url(https://raw.githack.com/leeprky/BlurpleRecolor/lode/source/blurple-source.css);

    /* Colors */
.theme-dark, .theme-light {
  --alt-color-rgb: 114, 137, 218;
  --alt-color-hex: #7289DA;
}
